{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tela inicial</title>
    <!-- Boostrap css chama o css padrão do boostrap -->
    {% bootstrap_css %}
    <!-- CSS -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container-sm p-5">
        <!-- Se na tabela produtos -->
        {% if produtos %}
        <h1>Produtos</h1> 
        <a class="btn btn-primary" href="{% url 'contato' %}">Entrar em contato</a> 
        <a class="btn btn-success" href="{% url 'produto' %}">Cadastrar Produto</a> 
        <hr>
        <!-- tabela de produtos -->
        <table class="table table-light shadow-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Estoque</th> 
                </tr>
            </thead>
            <tbody>
                <!-- para produto em na tabela produtos -->
                {% for produto in produtos %}
                    <tr>
                        <td scope="row">{{ produto.id }}</td>
                        <td scope="row"><a href="#modal{{produto.id}}" data-toggle="modal">{{ produto.nome }}</a></td>
                        <td scope="row">{{ produto.preco }}</td>
                        <td scope="row">{{ produto.estoque }}</td>
                    </tr>
                    <!-- model do produto -->
                    <div class="modal fade bd-example-modal-lg show" id="modal{{produto.id}}" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="dynamic-content">
                                    <h2>Sobre o produto</h2>
                                    <img src="{{ produto.imagem.url }}" class="img-fluid" alt="{{ produto.nome }}"/>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque vel modi labore asperiores 
                                        ut corrupti provident placeat reprehenderit quam doloribus? Animi porro commodi voluptatibus 
                                        aliquam exercitationem voluptas repellat quas rem?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- fim modal -->
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h2>Ainda não existem produtos cadastrados. :(</h2>
        {% endif %}
    </div>
<!-- chama os js padrão do boostrap -->
{% bootstrap_javascript jquery='full' %}
</body>
</html>