{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar um produto</title>
    <!-- Boostrap css chama o css padrão do boostrap -->
    {% bootstrap_css %}
</head>
<body>
    <div class="container-sm p-5">
        <h1>Produto</h1>
        {% bootstrap_messages %}
        <!-- Formulario produto -->
        <form action="{% url 'produto' %}" method="post" class="form" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
             <!-- boostrap form deixa fileds formato boostrap -->
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-success">Cadastrar</button>
            {% endbuttons %}
        </form>
        <a class="btn btn-primary" href="/">voltar</a> 
    </div>
<!-- chama os js padrão do boostrap -->
{% bootstrap_javascript jquery='full' %}
</body>
</html>